*{
margin: 0;
padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.container{
  max-width: 3000px;
  margin: 0 auto;
  display: flex;
}
.allChats{
  flex-basis: 350px;
  height: 100vh;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  background: #f5f2f2;
  padding-top: 10px;
}
.profile{
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}
.form1 {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 10px;
}
input, button {
  border: none;
  outline: none;
  border-radius: 10px;
}
input {
  width: 100%;
  height: 42px;
  background: #e2dede;
  padding-left: 15px;
}
.button1 {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #533cff;
  cursor: pointer;
}
button:before {
  content: "\f105";
  font-family: FontAwesome;
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}
.linebreak{
  width: 90%;
height: 0.5px;
background: #b5aeae;
}
.allChats__item{
  display: flex;
  margin: 10px 13px;
  width: 290px;
  justify-content: space-between;
}
.allChats__itemWrapper1{
  margin-left: 10px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  word-wrap: break-word;
}
.allChats__itemPic{
  width: 47px;
  height: 47px;
  border-radius: 25px;
  background: #acacad;
}
.allChats__itemName{
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  margin-bottom: 5px;
  overflow: hidden
}
.allChats__itemMessage{
 font-family: Inter;
 font-size: 12px;
 font-weight: 500;
 line-height: 15px;
}
.allChats__itemWrapper2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.allChats__itemUnreadMes{
  text-align: center;
  color: #ffffff;
  padding: 1px;
  background-color: #533cff;
  width: 20px;
  height: 20px;
  border-radius: 12px;
}
/*------------------------------------------------Правая сторона----------------------------------------------------------------------*/

.chat{
  background-color: #ffffff;
  height: 98vh;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  justify-content: space-between;
}
.chat__tytle{
   display: flex;
   width: 100%;
   margin-top: 20px;
   justify-content:space-between;
   align-items: center;
   margin-bottom: -130px;
}
.chat__tytle__left{
  display: flex;
  align-items: center;
  gap: 10px;
}
.chat__itemPic{
  width: 47px;
  height: 47px;
  border-radius: 25px;
  background: #acacad;
}
.chat__itemName{
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
}
.chat__linebreak{
  width: 100%;
  height: 0.5px;
  background: #b5aeae;
}
.greyText{
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
}
.chat__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.chat__message{
  width: 50%;
  text-align:start;
  margin-right: auto;
  background-color: #F8F8F8;
  border-radius: 15px;
  position: relative;
}
.chat__messageText{
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin: 15px 10px;
}
.chat__time{
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  position: absolute;
  transform: translateX(1800%) translateY(-150%);
}
.chat__replies{
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  padding: 15px;
  margin-left: auto;
  background-color: #E4EDFD;
  border-radius: 15px;
}
.chat__bottom{
  width: 100%;
  margin-top: -180px;
}
.form2 {
 position: relative;
 width: 100%;
 margin: 0 auto;
}
